.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--main);
}
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
  margin-left: 10px;
  margin-right: 10px;
}
/* hide the input */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main);
  border-radius: 25px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  border-radius: 50%;
  background-color: var(--main-colour);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
