.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
  margin: 30px auto;
}
.title {
  color: var(--main);
  font-size: 30px;
  font-family: 'Antonio';
}
